<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between"
    >
      <a
        class="navbar-brand mx-auto d-block text-center order-0 order-md-1"
        href="#"
        ><h3>Image Classification Portal</h3></a
      >
    </nav>
    <div class="container login-container">
      <div class="row rounded">
        <div class="col-md-6 login-form-1">
          <form action="/signUp" name="registerForm" method="POST">
            <h3>Register</h3>

            <!-- <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                value=""
                name="fname"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                value=""
                name="lname"
                required
              />
            </div> -->
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="User Name *"
                value=""
                name="username"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Email *"
                value=""
                required
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password *"
                value=""
                id="password"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm password *"
                value=""
                id="passwordMatch"
                required
              />
            </div>
            <div class="form-group center">
              <input type="submit" class="btnSubmit" value="Register" />
            </div>
          </form>
          <div style="margin-top:3%;">
            <!-- {% if messages %} {% for message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            {% endfor %} {% endif %} -->
          </div>
        </div>

        <div class="col-md-6 login-form-2">
          <form action="/" name="loginForm" method="POST">
            <h3>Login</h3>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Email *"
                value=""
                required
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password *"
                value=""
                required
              />
            </div>
            <div class="form-group center">
              <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group center">
              <a href="https://google.com" class="btnForgetPwd"
                ><u>Forgot Password?</u></a
              >
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      window.onload = function() {
        document.getElementById("password").onchange = validatePassword;
        document.getElementById("passwordMatch").onchange = validatePassword;
      };

      function validatePassword() {
        var pass2 = document.getElementById("N").value;
        var pass1 = document.getElementById("password").value;
        if (pass1 !== pass2)
          document
            .getElementById("passwordMatch")
            .setCustomValidity("Passwords Don't Match");
        else document.getElementById("passwordMatch").setCustomValidity("");
      }
    </script>
  </body>
</html>
